/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap');

/* Removes all margins, padding and borders to start on blank slate */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: open sans, sans-serif;
    font-weight: 300;
    color: #af5248;
}

/* Headings, logo */
h1, h2 {
    font-family: lobster, sans-serif;
    color: #d13c3a;   
}

h2 {
    font-size: 200%;
}

#logo{
    float: left;
    font-size: 500%;
    margin-left: 200px;
}

/* Navigation menu and contest */
#menu, #contest {
    line-height: 100px;
    font-family: lobster, sans-serif; 
    font-size: 150%;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-left: 20px;
}

#contest {
    float: right;
    margin-right: 20px;
}

#menu a, #contest {
    text-decoration: none;
    color: #D13C3A;
}

#menu a:hover, #contest:hover {
    color: #af5248;
}

/* Banner image */
#banner-box {
    height: 300px;
    width: 100%;
    overflow: visible;
    position: top;
}

#banner-image {
    height: 300px;
    width: 100%;
    background: url(../images/banner.jpg) no-repeat center center;
}

/* Main section of page */
#main {
    height: 800px;
    width: 60%;
    float: left;
}

.main-left {
    border: solid 1px;
    margin-top: 20px;
    background-color: #4BC67C;
}

.main-left > h2 {
    margin-left: 100px;
}

.main-left > p {
    margin-left: 50px;
}

aside {
    float: right;
    width: 33%;
    border: solid 1px;
    margin-top: 20px;
    background-color: #4BC67C;
}

.main-right > h2 {
    margin-left: 100px;
}

#categories-list {
    margin-top: 50px;
    text-align: left;
    margin-left: 50px;
}

#categories-list li{
    list-style-type: none;
    margin-top: 100px;
    margin-bottom: 100px;
}

#categories-list a {
    font-size: 150%;
    text-decoration: none;
    color: #D13C3A;
}

#categories-list a:hover {
    color: #af5248;
}

.side-image{
    height: 100px;
    width: 100px;
    float: right;
    margin-right: 10px;
}

#outdoor-image{
    background: url(../images/outdoor\ resize\ 200.jpg);
    background-size: cover;
}

#indoor-image{
    background: url(../images/indoors.JPG);
    background-size: cover;
}

#animals-image{
    background: url(../images/VID00502.jpg);
    background-size: cover;
}